* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #f8f8f8;
    color: #333;
}

/* HEADER */

header {
    background: #1a75ff;
    color: white;
    padding-bottom: 80px;
}

.nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    align-items: center;
}

.nav .logo {
    font-size: 26px;
    font-weight: bold;
}

.nav ul {
    display: flex;
    gap: 30px;
    list-style: none;
}

.nav a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    transition: .3s;
}

.nav a:hover {
    opacity: 0.7;
}

.hero {
    text-align: center;
    padding: 70px 30px;
}

.hero h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

.hero p {
    font-size: 18px;
    margin-bottom: 20px;
}

.btn {
    background: white;
    color: #1a75ff;
    padding: 12px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: .3s;
}

.btn:hover {
    background: #cfe1ff;
}

/* SECTIONS */

.section {
    padding: 70px 40px;
    max-width: 1100px;
    margin: 0 auto;
}

.section h2 {
    font-size: 32px;
    text-align: center;
    margin-bottom: 40px;
}

.dark {
    background: #e6eeff;
}

/* SERVICES */

.services-grid {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

.card {
    background: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.05);
    text-align: center;
}

.card h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

/* ABOUT */

.about-text {
    text-align: center;
    max-width: 700px;
    line-height: 1.6;
    margin: 0 auto;
    font-size: 17px;
}

/* CONTACTS */

.contact-box {
    background: white;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0,0,0,0.06);
    max-width: 500px;
    margin: 0 auto;
}

.contact-box p {
    margin-bottom: 10px;
    font-size: 17px;
}

/* FOOTER */

footer {
    text-align: center;
    padding: 20px;
    background: #1a75ff;
    color: white;
    margin-top: 30px;
}
